*.m4
configure
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
Makefile.in
missing
test-driver
output.*
requests
traces.*
Makefile
.deps/
.dirstamp
libtool
config.*
stamp*
.libs/
libchi*
libsimclist*
chidb
*.o
*.lo
