*.m4
configure
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
Makefile.in
missing
test-driver
output.*
requests
traces.*
Makefile
.deps/
.dirstamp
libtool
config.*
stamp*
.libs/
libchi
libsimclist*
chidb
*.o
*.lo
*.la
sql-lexer*
sql-parser*
.vscode/
check_btree

*.log
*.trs
check_dbm
check_dbrecord
check_pager
check_utils
